# Function

In [10]:
def greet():
    name = input("Hi, what is your name? ")
    return print(f"Hi {name}, you are wellcome")

greet()

Hi, what is your name?gggi
Hi gggi, you are wellcome

# Class

In [26]:
job_title = "Data Analyst"
job_location = "United States"
job_salary = 90000


class JobPost:
    def __init__(self, title: str, location: str, salary: int):
        self.title = title
        self. location = location
        self. salary = salary
        
    def display_info(self):
        return print(f"Job:        {self.title}\nLocation:   {self.location}\nSalary:     ${self.salary:,.0f}")

In [28]:
job_1 = JobPost(job_title, job_location, job_salary)
job_1.title

'Data Analyst'

In [29]:
job_1.display_info()

Job:        Data Analyst
Location:   United States
Salary:     $90,000

# String build in functions

In [30]:
skill = "Python"
skill.upper()

'PYTHON'

In [32]:
skill.lower()
"Python".lower()
str.lower("Python")

'python'

In [33]:
skill.replace("P","J")

'Jython'

In [34]:
job_title = "Data Analyst"
job_title.replace("a", "o", 2)

'Doto Analyst'

In [36]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [43]:
job_title = job_title.split(sep = " ", maxsplit = 1)
type(job_title)

list

In [44]:
job_title

['Data', 'Analyst']

In [46]:
str.__add__("Data ", "Analyst")
"Data ".__add__("Analyst")
"Data" + "Analyst"

'Data Analyst'

In [49]:
"Data Analyst".__len__()
len("Data Analyst")

12

In [ ]:
str.len("Data Analyst")